// This defines theme-specific variables.
@mixin theme-variables($theme) {
    @if $theme =='light' {
        // Light theme colours.
        --primary-color: #34495E; // Contrast ratio: 4.73:1
        --background-color: #FEFEFE; //
        --text-color-high-contrast: #C05C4F;
    }

    @else if $theme =='dark' {
        // Dark theme colours.
        --primary-color: #e6c212; // Contrast ratio: 9.48:1
    }
}

// Apply light theme variables by default.
:root {
    @include theme-variables('light');
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme='dark'] {
    @include theme-variables('dark');
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
        @include theme-variables('dark');
    }
}